body{
    background: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
    background-size:cover;
}
.container{
    margin:2rem;
    width:100vh;
    height:100vh;
    max-width: 70%;
    padding:2rem;
    backdrop-filter: blur(10px);
    gap:20px;
    display:flex;
    flex-direction: column;
}
.container a{
    display:flex;
    flex-direction: column;
    padding:10vh;
    font-size:50px;
    text-decoration: none;
    background-color:rgb(25, 25, 25);
    color:white;
    text-align:center;
}
.container a:hover{
    opacity:.7;
    transition: .3s;
}